# Processing Schools

In [1]:
import numpy as np
import pandas as pd

## Reading data Input

The data file **schools.csv** file is reading using **pd.read_csv** function. The data format used in this file is separated by semicolon, so  it is conbinient use  the **sep=';'** parameter.

In [2]:
df = pd.read_csv('data/schools.csv',sep=';')

---

## Determining if dataframe is empty or existence of data

In [3]:
df.empty

False

---

## Finding dimensions of the dataFrame

In [4]:
df.shape

(194, 5)

---

## Size of the File schools.csv

!dir data\schools.csv

---

## Visualization of the dataframe

In [5]:
df.head()

,ADDRESS,SCHOOL_CATEGORY,SCHOOL_NAME,Geom,Geo Local Area
0,1130 Keefer St,StrongStart BC,Admiral Seymour StrongStart Centre,"{""type"": ""Point"", ""coordinates"": [-123.0803142...",Strathcona
1,5025 Willow St,Public School,BC Childrens Hosp School Program,"{""type"": ""Point"", ""coordinates"": [-123.1257909...",South Cambie
2,2251 Collingwood St,Public School,Bayview Community Elementary,"{""type"": ""Point"", ""coordinates"": [-123.1823337...",Kitsilano
3,1690 Matthews Av,Public School,Canuck Place School Program,"{""type"": ""Point"", ""coordinates"": [-123.1430623...",Shaughnessy
4,3400 Balaclava St,Public School,Carnarvon Community Elementary,"{""type"": ""Point"", ""coordinates"": [-123.1735572...",Arbutus-Ridge

The dataFrame has five columns: **ADDRESS** , **SCHOOL_CATEGORY** , **SCHOOL_NAME** , **Geom** and **Geo Local Area**.The  **Geo** column is in GeoJSON format and is the geometry of this geodataframe.

In [6]:
df.columns

Index(['ADDRESS', 'SCHOOL_CATEGORY', 'SCHOOL_NAME', 'Geom', 'Geo Local Area'], dtype='object')

---

## Checking range of coordenates.

The latitude of Vancouver, BC is between 49.200110 and 49.317296, and the longitude is between -123.264451 and -123.023551.

In [7]:
df2 = df['Geom']

In [8]:
df2.to_csv('data/Schools_cleaned.csv', header = False)

header = False to avoid thw WARNING MESSAGE: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.

+ **str.extract** function to extract strings
+ **df3** new dataFreme create
+ **(\S\d+.\d+), (\d+.\d+)** extructure to extract
+ **\S** character(in this case '-')
+ **\d+** one or more integer
+ **.** separating integer and decimals
+ **\d*** one or more integer(in this case are decimal part)
+ **astype('float')** converting in float

In [9]:
df3 = df2.str.extract('(\S\d+.\d+), (\d+.\d+)').astype('float')

In [10]:
df4 = df3.rename(columns={0: "West", 1 : "North"})

In [11]:
df4.columns

Index(['West', 'North'], dtype='object')

In [12]:
df4.loc[(df4['West']< -123.264451) | (df4['West'] > -123.023551 ), 'Status_coordenates'] = 'incorrect'

In [13]:
print(df4)

           West      North Status_coordenates
0   -123.080314  49.278594                NaN
1   -123.125791  49.239631                NaN
2   -123.182334  49.266487                NaN
3   -123.143062  49.251670                NaN
4   -123.173557  49.256587                NaN
..          ...        ...                ...
189 -123.141369  49.215472                NaN
190 -123.144634  49.207790                NaN
191 -123.084345  49.216109                NaN
192 -123.050392  49.256938                NaN
193 -123.140340  49.248848                NaN

[194 rows x 3 columns]

In [14]:
df4.loc[df4['Status_coordenates'] == 'incorrect']

Empty DataFrame
Columns: [West, North, Status_coordenates]
Index: []

All coordinate values of the data set are within the coordinate values in Vancouver.